body {
    background: #A0B5A7;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
}

h1 {
    color: #FFF;
    text-align: center;
    font-family: Alegreya;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 123.023%;/* 86.116px */
    text-transform: uppercase;
}

h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.023%; /* 33.216px */
    text-transform: uppercase;
}

p {
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 156.023%; /* 39.006px */
}