html, body, .fondo-especial, .fondo-especial-2 {
    height: 100%;
    margin: 0;
}

body {
    /*background: #DEFFEA;*/
    background-size:cover; 
    background-image: url(imagenes/background-agricola.jpg);  
    background-repeat: repeat-y; 
}

.fondo-especial {
    background-image: url(imagenes/presentacion-agricola.JPG); /* Ruta de tu imagen */
    background-size: cover;
    background-repeat: repeat-y;
}

.fondo-especial-2 {
    background-image: url(imagenes/background-agricola-oscuro.jpg); /* Ruta de tu imagen */
    background-size:cover; 
    background-repeat: repeat-y 
}

.contenedor {
    background-color: #2e4b3aba;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem; /* Ajusta el relleno según tus preferencias */
    width: 100vw;
}

/* Consulta de medios para pantallas más pequeñas */
@media (max-width: 768px) {
    .contenedor {
        padding: 1rem; /* Ajusta el relleno para pantallas más pequeñas */
    }
}


.contenedor a {
    text-decoration: none;
    color: #fff;
}

header h1 {
    color: #FFF;
    text-align: center;
    font-family: Alegreya;
    font-size: 2rem; 
    font-weight: 700;
    line-height: 1.23023; 
    text-transform: uppercase;
    margin-top: 2rem;
    letter-spacing: 0.25rem;
    flex-shrink: 0; 
}

h2 {
    font-family: Inter;
    font-weight: 700;
    font-size: 1.4rem;
    color: #2E4B3A;
    text-align: center;
    margin-top: 3rem;
}

@media screen and (max-width: 600px) {
    h2 {
        font-size: 1rem; /* Tamaño ajustado para pantallas más pequeñas */
        margin-top: 2rem; /* Ajuste de margen */
    }
}

h3 {
    color: #2E4B3A;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 700;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav a {
    color:#FFF;
    text-align: center;
    display: block;
    font-family: Inter;
    font-size: 0.7rem;
    font-weight: 500;
    line-height: 123.023%;
    text-transform: uppercase;
    text-decoration: none;
    margin: 2rem;
    margin-top: 1rem;
}

nav a:hover {
    color: #FFA500;
    font-weight: 700;
    -webkit-text-stroke: 1px #FFA500; /* Borde de las letras */
    -webkit-text-fill-color: #FFF; /* Relleno transparente */
}

.productos p, .productos2 {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 500;
    line-height: 123.023%;
    font-size: 1.05rem;
    color: #2E4B3A;
    display: inline-block;
    text-align: center;
}

.contacto p {
    color: #2E4B3A;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 156.023%; /* 1.56025rem */
    width: 12.3125rem;
    height: 5rem;
    display: inline-block;
}

em {
    color: #FFF;
    font-family: Inter;
    font-size: 1.10rem;
    font-weight: 600;
    line-height: 156.023%; 
    width: 18rem;
    height: 8.625rem;
    flex-shrink: 0;
    text-align: center;
    margin: auto; /* Añadimos esto para centrar horizontalmente */
    margin-top: 10%;
    word-spacing: 0.6rem;
    letter-spacing: 0.2rem;
}

.boton {
    display: inline-block;
    padding: 0.75rem 1.5rem; 
    background-color:#E59E32; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    font-family: Inter;
    text-decoration: none; /* Elimina el subrayado del enlace */
    border-radius:2.34375rem; /* Añade esquinas redondeadas */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 0.7rem; /* Tamaño del texto */
    font-weight: 700; /* Peso de la fuente */
    text-transform: uppercase;
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    letter-spacing: 0.07rem;
    margin-left: 40%; /* Ajusta el margen izquierdo en porcentaje */
    margin-right: 40%;
}

@media only screen and (max-width: 768px) {
    .boton {
        font-size: 0.4rem; /* Ajusta el tamaño de fuente en pantallas más pequeñas */
    }
}

.boton:hover {
    background: #ab6c0d; 
}

.boton:active {
    background: #4e3106; 
}

main {
    text-align: center;
    width: 90%; /* Usamos porcentaje para el ancho */
    margin: 0; /* Centramos el main */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    
}

.historia p {
    color:#FFF;
    text-align: justify;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    line-height: 156.023%; /* 1.95031rem */
    margin: 6%;
}

.mi-icono {
    width: 60px; /* Cambia el ancho del icono */
    height: 60px; /* Cambia la altura del icono */
}

.icono {
    width: 20px; /* Cambia el ancho del icono */
    height: 20px; /* Cambia la altura del icono */
}

.section1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 0.7rem;
}

.columna3 {
    margin-top: 2rem;
}

@media only screen and (max-width: 768px) {
    .section1 {
        column-gap: 0.1rem; /* Reducimos el espacio entre columnas en pantallas más pequeñas */
    }
}

.slider-container {
    display: flex;
    width: 90%;
    height: auto;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
  
.slider-container img {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
    cursor: pointer;
}

.slider-container::-webkit-scrollbar {
    width: 0px; /* Ancho de la barra de desplazamiento */
}

.palta {
    width: 100px; /* Cambia el ancho del icono */
    height: auto;
}

.productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 1%;
    margin: 0 auto;
}

.productos2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: 2rem;
    margin: 0 auto;
}

.calendario {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 3%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-weight: 300;
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 1rem; /* Utilizamos una unidad relativa */
    padding: 1rem; /* Ajusta el relleno según tus preferencias */
    background-color: #2e4b3aaa;
}

/* Consulta de medios para pantallas más pequeñas */
@media (max-width: 768px) {
    .footer {
        font-size: 0.5rem; /* Ajusta el tamaño del texto para pantallas más pequeñas */
        padding: 0.5rem; /* Ajusta el relleno para pantallas más pequeñas */
    }
}


.historia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 0.7rem;
}

@media (max-width: 768px) {
    .historia {
        grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas más pequeñas */
    }
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.galeria img {
    width: calc(33.33% - 10px); /* Ajusta el ancho de las imágenes y el espacio entre ellas */
    margin-bottom: 10px; /* Puedes ajustar el espacio entre las imágenes según tus preferencias */
    border-radius: 5%;
}

.actualidad p {
    color:#FFF;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    line-height: 156.023%; /* 1.95031rem */
    margin: 6%;
}